#landsMap {
    width: 500%;
    height: 500%;
    padding: 5px;
    font-size: 16px;
    border: 3px;
    margin: 20px;
    -moz-column-fill: balance;
    -moz-column-count: 100;
    -moz-column-gap: 20px;
    -webkit-column-fill: balance;
    -webkit-column-count: 100;
    -webkit-column-gap: 20px;
    column-fill: balance;
    column-count: 100;
    column-gap: 20px;
    line-height: 1.5;
    list-style: none;
}

#lands{
    overflow:scroll;
    height: 1100px;
    width: 800px;
}

.land{
  width: 45px;
  height: 45px;
}

.map {
  display: none;
}

#landBtn {
  width: 45px;
  height: 45px;
  background-color: #800040;
  border-radius: 50%;
  color: white;
  margin: 0 1rem;
  padding: 0.5rem;
  overflow: hidden;
  text-align: center;
}