.legend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1rem;
    padding: 10px;
    text-align: center;
    width: 500px;
    padding-left: 10%;
    border: 2 px solid #800040;
    background-color: #165E82;
}

h2 {
    font-size: 1rem;
    margin-bottom: 0;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
}